body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.page-2 {
    background-color: #F8C25A;
}

.main-sec {
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* 
#head1 {
    text-align: center;

} */

#btn1 {
    border-style: none;
}

.sec-1 {
    display: flex;
    justify-content: space-between;
}

.l-btn {
    border-style: none;
    height: 40px;
    width: 100px;

    text-align: center;
}



.log-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.log-sec1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sec-2 {
    margin-top: 15px;

    height: 450px;

}

.box-sec {
    height: 60px;
    background-color: white;
    /* border-radius: 18px; */
}



#plus-btn {
    height: 3rem;
    width: 3rem;
   background-color: #E49700;
}



#s-input {
    /* border-radius: 15px; */
    height: 45px;
    border-style: none;
    padding-left: 20px;
    font-size: larger;

    width: 23rem;

}



input#s-input {
    border: none;
    outline: none;
    /* Remove default outline on focus */
}


.sec-4 {

    height: 500px;
}

/* Remove all border and outline styling from the textarea */

#w3review {
    /* border-radius: 15px; */
    height: 130px;

}

#w3review {
    border: none;
    outline: none;
    /* Remove default outline on focus */
}

.card {
    height: 180px;
    border-radius: 0px;

}

/* Media query for screens between 576px and 767px */
/* @media screen and (min-width: 575px) and (max-width: 767px) {
    .card {
        width: 18rem;
        margin: auto;
    }

    .img-sec {
        margin-top: 12px;


    }

    .img-card {
        margin-top: 12px;

    }
} */

/* @media screen and (min-width: 366px) and (max-width: 575px) {
    .img-card {
        margin-top: 12px;

    }

    .img-sec {
        margin-top: 10px;
        padding: 10px;


    }

    .card {
        width: 15rem;
        margin: auto;
        margin-top: 12px;

    }
} */
/* 
@media screen and (min-width: 220px) and (max-width: 365px) {
    .img-card {
        margin-top: 12px;

    }

    .img-sec {
        margin-top: 10px;



    }


} */

.modal-sec {
    background-color: #E49700;
}
.m-sec{
    height: 285px;
}
/* .modal-footer{
    background-color: #E49700;
} */